<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zw.beans.User">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="loginname" property="loginname" />
        <result column="phone" property="phone" />
        <result column="password" property="password" />
        <result column="status" property="status" />
        <result column="createtime" property="createtime" />
        <result column="modifytime" property="modifytime" />
        <result column="dr" property="dr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_id, name, sex, loginname, phone, password, status, createtime, modifytime, dr
    </sql>

</mapper>
